.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}





.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Prof-imga{
  font-size: 25px; 
  margin: 20px;
}
.App-header {
  background-color: #b6d4ec;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
